@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fafafa;
}

header {
    height: 600px;
    padding: 100px 0;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    color: #7d5a5a !important;
}

.bg-head {
    background: linear-gradient(100deg, #ffdcf7 30.05%, rgba(255, 143, 178, 0) 133.19%);
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    color: #7d5a5a;
}

.header-desc {
    margin-top: 20px;
    font-size: 18px;
    color: #7d5a5a;
}

.sub-heading {
    font-size: 40px !important;
    color: #333;
}

.text-desc {
    color: #444;
    font-size: 18px;
}

.content-margin {
    margin: 50px auto;
}

#about {
    margin: 70px auto 150px auto;
}

.section-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    min-height: 550px;
}

.bg-img-fluid {
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color: #343a40!important;
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.position-right {
    right: -200px;
}

.position-left {
    left: -200px;
}

.round-hide {
    background-color: #fafafa;
    border-radius: 100px;
    color: white;
    margin-top: -28px;
    padding: 32px 0;
    
}

.round-hide::after {
    content: '';
}

.img-head {
    position: relative;
    bottom: 50px;
}

#home, #history {
    background-color: #ccc;
}
